.header * {
  display: inline;
  margin-right: 1em;
}

.divider {
  width: 100%;
  height: 1px;
  background: lightgrey;
  margin-top: 1em;
  margin-bottom: 1em;
}

ul {
  -webkit-column-count: 4;
  -moz-column-count: 4;
  column-count: 4;
}
