.container {
  display: flex;
}

.container > *:first-child {
  width: 200%;
}

.container > *:last-child {
  width: 50%;
}

.container > *:last-child > * {
  margin-left: 2em;
  padding: 1em;
  color: #000;
  background-color: #fff;
  border: 1pt solid #eee;
  border-radius: 0.5em;
}
